.gh__welcome
  .container
    .gh__slogan
      h1
        | Learn Git and GitHub without any code!
      h2
        | Using the Hello World guide, you’ll create a repository, start a branch,
        | write comments, and open a pull request.
      .gh_goto.text-center
        a(class="btn btn-success btn-lg", href="#/users") Go to the users list page

