.gh__welcome {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: -webkit-linear-gradient(270deg, rgba(255,255,255,0) 60%, #fff),-webkit-linear-gradient(20deg, #e0f1ff 32%, #fffae3);
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #e0f1ff 32%, #fffae3);
  border-bottom: #fff;
}

.gh__slogan {
  width: 800px;
  margin: 50px auto;
  text-align: center;

  @media (max-width: 991px) {
    width: 100%;
  }
}

.gh_goto {
  margin-top: 70px;
}
