.gh__welcome
  .gh__slogan
    h1
      | Learn Git and GitHub without any code!
    h2
      | Using the Hello World guide, you’ll create a repository, start a branch,
      | write comments, and open a pull request.

